<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename="js/jquery.js") }}" type="text/javascript"></script>
</head>
<body>
    <input type="text" id="test">
    <input type="button" value="test" id="btn">
    <div id='result'></div>
    <!--button onclick="record();">녹음</button-->
</body>
<script>
        $("#btn").click(function(){
            
            var test = $("#test").val()
            console.log(test)
            $.ajax({
                    type: "POST",
                    url: '/record',
                    data : {'result': test},
                    dataType : 'json',
                    success: function () {
                        console.log("record_button : Success")
                    }
                });
        })
    </script>
</html>